{% extends 'base.html' %}



{% block content %}


<body style="background-color:cornflowerblue">
    <div class="container">
        <div class="p-4 m-4">
            <div class="col-lg-5 mx-auto border rounded pt-4">
                <h3 class="alert alert-light border rounded">Create an accouunt</h3>
                <form action="" method="POST"> {% csrf_token %}
                    <div class="form-group">
                      {% if error %}
                      <div class="alert alert-danger" role="alert">
                        {{error}}
                      </div>
                      {% endif %}
                        <label for="">FIRST NAME</label>
                        <input type="text" name="firstname" id="" class="form-control" placeholder="YOUR FIRST NAME" value="{{values.firstname}}">
                        
                      </div>
                      <div class="form-group">
                        <label for="">LAST NAME</label>
                        <input type="text" value="{{values.lastname}}" name="lastname" id="" class="form-control" placeholder="YOUR LAST NAME">
                        
                      </div>
                      <div class="form-group">
                        <label for="">EMAIL</label>
                        <input type="text" value="{{values.email}}" name="email" id="" class="form-control" placeholder="Example@example.com">
                        
                      </div>
                      <div class="form-group">
                        <label for="">PASSWORD</label>
                        <input type="text" name="password" id="" class="form-control" placeholder="YOUR PASSWORD HERE">
                        
                      </div>
                      <div class="form-group">
                        <label for="">MOBILE NUMBER</label>
                        <input type="text" value="{{values.mobile}}" name="phone" id="" class="form-control" placeholder="0123456789">
                        
                      </div>
                      <div class="form-group">
                        <button type="submit" class="btn btn-primary"  name="submit" mx-auto mt-5>SIGNUP</button>
                      </div>
                        
                </form>
                
    
            </div>
        </div>
    </div>
</body>




{% endblock %}


