# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\New folder (3)\python projects\ecomerce\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
